@import "variables.scss";
@import "header.scss";

.part1 {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  font-family: $font;
  $font-size: $font-size3;
  color: $color1;
  .part1-1 {
    margin-left: 7%;
    .slider {
      width: 80%;
      height: 300px;
      position: relative;
      box-shadow: 0px 0px 10px 3px $color1;
      overflow: hidden;
      border: 5px solid $color1;
      margin-bottom: 5%;
      figure {
        margin: 0px;
        position: relative;
        width: 500%;
        left: 0px;
        transition: 1s ease-in-out;
      }
    }
    img {
      width: 20%;
      height: 100%;
      float: left;
    }
    .btn-prev,
    .btn-next {
      position: absolute;
      top: 45%;
      cursor: pointer;
      color: $color2;
      background-color: $color1;
      padding: 2%;
      font-size: $font-size1;
      border: none;
      outline: none;
    }
  }
  .btn-next {
    right: 0px;
  }
  .btn-prev {
    left: 0px;
  }
  .part1-2 {
    margin-right: 13%;
    flex-shrink: 0;
  }
}

.boxes2 {
  @include boxes;
  background-color: $color5;
  .box3 {
    @include box;
    transition: all 0.5s ease-in;
    i {
      font-size: 37px;
      color: $color3;
      margin-top: 5%;
    }
    a {
      text-decoration: none;
      color: $color1;
    }
    p {
      margin-top: 30%;
    }
  }
  .box3:hover {
    @include hover2;
  }
}

.boxes2.boxes3 {
  padding: 50px 25px;
}

.fle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: $font;
  margin-top: 4%;
  padding: 0 50px;
  .img-area {
    flex-basis: 50%;
    margin-left: 3%;

    .Img2 {
      width: 100%;
      height: 328px;
      flex-shrink: 0;
    }
  }

  .content-area {
    flex-basis: 45%;
  }

  .title {
    color: $color1;
    font-size: $font-size3;
  }
  .paragraph2 {
    font-size: $font-size1;
    color: $color4;
    line-height: 30px;
  }
}

.marge {
  margin: 3%;
}
.container {
  width: 200px;
  height: 200px;
  width: 23%;
  height: 410px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease-in;
  img {
    width: 100%;
  }
  .space {
    padding: 4%;
    a {
      text-decoration: none;
    }
    .title2 {
      font-size: $font-size3;
      font-family: $font;
      color: $color1;
    }
    .paragraph3 {
      font-size: $font-size4;
      color: $color4;
      line-height: 25px;
      font-weight: $font-weight1;
    }
  }
}
.container:hover {
  @include hover2;
  opacity: 0.5;
}

.backgr {
  @include flex;
  background-color: $color5;
  font-family: $font;
  padding: 0 50px;
  div {
    width: 50%;
    h2 {
      color: $color1;
    }
    input {
      padding: 1.5%;
    }
    button {
      border: none;
      background-color: $color1;
      color: $color2;
      padding: 2%;
    }
  }
  .partie2 {
    ul {
      // margin-right: 10%;
      padding: 0;
      li {
        list-style: none;
        border-bottom: 1px solid $color3;

        a {
          text-decoration: none;
          display: inline-block;
          padding-bottom: 1%;
          color: $color4;
          @include font;
        }
        a:hover {
          @include hover;
        }
      }
    }
  }
}

@import "footer.scss";
