@import "variables.scss";
@import "propreties.scss";
footer {
  background-color: $color1;
  // margin-top: 2%;
  @include flex;
  p {
    @include font;
    color: $color2;
    opacity: 0.7;
  }
  a {
    @include click;
    font-size: $font-size3;
  }
  h2 {
    font-size: $font-size3;
    font-family: $font;
    margin-top: 12%;
    margin-left: 18%;
    color: $color2;
  }
  li {
    list-style: none;
    a {
      @include click;
      line-height: 30px;
      font-family: $font;
      font-size: $font-size1;
      opacity: 0.7;
    }
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    margin-right: 2%;
    .part3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.11);
      padding: 3%;
      @include font;
      .part3-1 {
        color: $color2;
        font-weight: $font-weight2;
      }
      .part3-2 {
        color: $color2;
        opacity: 0.7;
      }
    }

    .dotted {
      flex: 1;
      height: 10px;
      border-bottom: 2px dotted $color3;
    }
  }
}

@media all and (max-width: 768px) {
  footer {
    & > div {
      width: 100%;
      padding: 15px 25px!important;
      margin: 0!important
    }
    
    h2 {
      margin: 0;
    }

    ul {
      padding: 0
    }
  }
}

@media all and (max-width: 768px) {
  .contact-details {
    display: none;
  }
  .Image {
    height: auto;
    .boxes .box {
      width: 40%;
      margin-bottom: 25px;
    }
  }
  .boxes2 .box3 {
    width: 40%;
    margin-bottom: 25px;
  }

  .part1 {
    padding: 0 25px;
    margin: 0;
    flex-wrap: wrap;
    .part1-1 {
      margin: 0;
      .slider {
        width: 100%;
      }
    }
  }

  .fle {
    padding: 25px;
    margin: 0;

    .container {
      width: 48%;
      margin-bottom: 25px;
    }

    .img-area, .content-area {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      margin: 0;
      padding: 0
    }
  }

  .backgr {
    padding: 0 25px;
    & > div {
      width: 100%;
    }
  }   
}

@media all and (max-width: 425px) {
  .fle .container, .Image .boxes .box, .boxes2 .box3 {
    width: 100%;
  }
  .navbar .Logo {
    .Info {
      display: none;
    }
    .logo-img {
      width: 100%;
      text-align: center;
    }
  }
}

// @media all and (max-width: 1024px) {
//   footer {
//     display: flex;
//     flex-direction: column;
//     .ressources {
//       width: 100px;
//       margin: auto;
//     }
//     h2 {
//       margin-left: 1%;
//     }
//   }
// }
