@import "variables.scss";
@import "header.scss";
@import "propreties.scss";
form {
  margin: 8% 50px 5%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding: 4%;
  label {
    font-size: $font-size4;
    font-family: $font;
    color: $color1;
    margin-right: 10px;
  }
  input {
    border: none;
    border-bottom: 1px solid $color5;
    font-size: $font-size1;
    font-family: $font;
    margin-bottom: 4%;
    &:focus {
      outline: none;
    }
  }
  .button {
    padding: 2% 7%;
    border: none;
    background-color: $color1;
    color: $color2;
    border-radius: 80px;
    transition: all 0.5s ease-in;
  }
  .button:hover {
    @include hover2;
    @include hover;
  }
}

.fle-part1 {
  @include flex;
  & > div {
    width: 50%;
  }
}

@media all and (max-width: 425px) {
  .fle-part1 > div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  form {
    margin-left: 25px;
    margin-right: 25px;
    & > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    label {
      margin-bottom: 10px;
    }

    p {
      margin: 0;
    }
  }
}

@import "footer.scss";
