$color1: #004767;
$color2: white;
$color3: #03bfcb;
$color4: #404d60;
$color5: #e4edf3;
$font: Montserrat, sans serif;
$font-size1: 14px;
$font-size2: 12px;
$font-size3: 20px;
$font-size4: 15px;
$font-weight1: 500;
$font-weight2: 600;
